- content_for :header do
  %h1= app_name

- content_for :html_foot do
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
  %script{:src => rocketio_js}
  %script{:src => "/index.js"}

%div#status
  %p.rocketio
  %p.temp_sensor
  %p.light_sensor

%h2 IR::DATA
%div#ir
  %p.buttons
    - ArduinoIrRemote::DATA.keys.each do |name|
      %input{:type => :button, :value => name, :class => "btn_ir_write btn"}
  %p.status

%h2 Logs
%div#logs
