- content_for :header do
  %h1= app_name

- content_for :html_foot do
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
  %script{:src => rocketio_js}
  %script{:src => "/index.js"}

%div#status
  %p.rocketio

%h2 Ir::DATA
%div#ir
  %p.buttons
    - Ir::DATA.keys.each do |name|
      %input{:type => :button, :value => name, :class => "btn_ir_write btn"}
  %p.status

%h2 Logs
%div#logs
